chapter1.aux
chapter1.fls
chapter1.log
chapter1.out 
chapter1.synctex.gz
chapter1.fdb_latexmk
chapter2.aux
chapter2.fls
chapter2.log
chapter2.out 
chapter2.synctex.gz
chapter2.fdb_latexmk
chapter3.aux
chapter3.fls
chapter3.log
chapter3.out 
chapter3.synctex.gz
chapter3.fdb_latexmk